@model Vilau_Paula_Proiect.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            @if (ViewData["SelectedToys"] is int[] selectedToys)
            {
                foreach (var toyId in selectedToys)
                {
                    <input type="hidden" name="selectedToys" value="@toyId" />
                }
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
             </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
